<mat-drawer-container autosize>
    <mat-drawer #drawer class="app-sidenav" mode="side" opened>
        <div *ngFor="let node of workNodes">
            <button class="sidenav-button" mat-flat-button (click)="setActiveTab(node.name)">
                <mat-icon class="nav-icon">{{node.icon}}</mat-icon>
                {{node.name}}
            </button>
        </div>


    </mat-drawer>

    <mat-drawer-content class="grid-container">
        <mat-grid-list cols="2" rowHeight="2:1">
            <ng-container *ngFor="let workItem of activeWorkItems">
                <mat-grid-tile class="work-item-container" style="background-image: url({{workItem.thumbnail}});">
                    <a mat-flat-button class="work-item-button" href="{{workItem.git}}" target="_blank">
                        {{workItem.desc}}
                    </a>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </mat-drawer-content>

</mat-drawer-container>