.app-sidenav {
    padding: 3.5% 0 0 0;
    width: 18%;
    color: primary;
    position: fixed;
}

.sidenav-button {
    width: 100%;
    text-align: left;
    font-size: small;
}

.nav-icon {
    padding: 0 10px 0 0;
}

@media screen and (max-width: 768px) {
    .app-sidenav {
        width: 15%;
    }
    .sidenav-button {
        height: 25%;
        padding: 12.5% 0;
        text-align: left;
        font-size: xx-small;
        transform: rotate(-90deg);
    }
    .nav-icon {
        padding: 0 10px 0 0;
        font-size: smaller;
    }
}

.work-item-container {
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    background-color: secondary;
}

.work-item-button {
    width: 25%;
    font-size: medium;
    border-radius: 0;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
    background-color: secondary;
    padding-top: 3.5%;
    /* height: 100%; */
}