.work-item-container{
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
}
.work-item-button{
    background-color: black;
    color: white;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}