<div class="landing-container">
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Hello!
            </span>
        </div>
    </div>
    <section class="section section-light">
        <h2> Section One</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rerum consequatur facere. Temporibus accusamus commodi beatae, cupiditate praesentium odio illum adipisci eligendi, officia, dignissimos esse sint laboriosam molestias tempore. Aliquid, rerum
            cupiditate! Quaerat quae at qui neque architecto magni eum quasi cupiditate, saepe eius officiis, aspernatur eligendi natus incidunt dolore mollitia necessitatibus exercitationem eaque! Nihil, veniam aut perferendis culpa, non laboriosam officia
            quasi itaque at deserunt fugit, nam quisquam labore nostrum! Esse fugiat officiis fugit cumque laudantium autem nam voluptatem qui atque harum in error consequatur, quod quia laborum porro quos! At illum dicta corrupti, iste architecto labore?
            Inventore, placeat veritatis! Sapiente facilis dolor incidunt, exercitationem pariatur, repellat porro aliquid fugiat veniam placeat officia? Similique, laboriosam ipsum perspiciatis hic voluptatum nulla corporis aliquid quod vitae? Sit quisquam
            nam aliquid? Recusandae sed earum corrupti unde quibusdam quas numquam! Quod a sunt, architecto repudiandae accusamus quaerat maiores perspiciatis, obcaecati officiis veniam hic rerum ipsam iusto vero, aliquam mollitia sit nobis exercitationem
            consequuntur laborum assumenda reiciendis dolor nemo animi! Consequuntur est reprehenderit repudiandae qui quaerat dolor itaque deserunt distinctio velit at quasi ratione odio eum natus ipsum tempora molestias, ducimus sapiente nisi ut architecto
            eius illo. Recusandae corporis aliquid praesentium sapiente id aliquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi eaque sed quod explicabo consequatur, similique eos quaerat dicta quibusdam, maxime veritatis eius ab harum
            possimus magni nihil cum minus eum?
        </p>
    </section>
    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                Image 2 text
            </span>
        </div>
    </div>
    <section class="section section-dark">
        <h2> Section Two</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi eaque sed quod explicabo consequatur, similique eos quaerat dicta quibusdam, maxime veritatis eius ab harum possimus magni nihil cum minus eum?
        </p>
    </section>
    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
                Image 3 text
            </span>
        </div>
    </div>
    <section class="section section-dark">
        <h2> Section Three</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi eaque sed quod explicabo consequatur, similique eos quaerat dicta quibusdam, maxime veritatis eius ab harum possimus magni nihil cum minus eum?
        </p>
    </section>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Parallax Website
            </span>
        </div>
    </div>
</div>