<div class="landing-container" id="landing">
    <div class="intro-box">
        <div class="avatar-container">
            <img class="avatar-img" [src]="avatar_image.avatar_image">
        </div>
    
        <section class="welcome">
            <p class="intro">Hello,</p>
            <p class="intro">I'm <span class="name"> Prem Sagar</span>.</p>
        </section>
    
    </div>

    <section class="intro-message">
        <p>
            Lorem ipsum dolor, sit amet cosnsectetur adipisicing elit. Assumenda, rem veniam. Consequuntur, deserunt odio labore in cumque maiores perspiciatis tempore sunt velit omnis corporis tempora vitae modi! Porro, dolores facere?
        </p>
    </section> 


    <section class="info">
        <button mat-flat-button color="primary" class="info-button" routerLink  ="/work" routerLinkActive="active">Portfolio</button>
        <button mat-flat-button color="primary" class="info-button">Resume</button>
    </section>

    <section class="contact">
        <a class="contact-button" href="http://www.twitter.com/sagardeprem" target="_blank">
            <i class="fa fa-twitter">
                <span class="contact-desc">sagardeprem </span>
            </i>
        </a>

        <a class="contact-button" href="http://www.twitter.com/sagardeprem" target="_blank">
            <i class="fa fa-linkedin">
                <span class="contact-desc">sagardeprem </span>
            </i>
        </a>
        <a class="contact-button" href="http://www.twitter.com/sagardeprem" target="_blank">
            <i class="fa fa-xing">
                <span class="contact-desc">sagardeprem </span>
            </i>
        </a>
        
        <a class="contact-button">
            <i class="fa fa-mobile">
                <span class="contact-desc">+919538429431</span>
            </i>
        </a>

        <a class="contact-button">
            <i class="fa fa-envelope">
                <span class="contact-desc">sagardeprem@gmail.com</span>
            </i>
        </a>
        
    </section>
</div>

<!-- <div id="skills" class="skills">
    <mat-tab-group>
        <mat-tab *ngFor="let skillgrp of skills" [label]="skillgrp.name" >
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">{{skillgrp.icon}}</mat-icon>
                <span style="padding-left: 10px;">{{skillgrp.name}}</span>
            </ng-template>
            
            <div class="tech-skill-container">
                <div *ngFor="let tech of skillgrp.tech">
                    <span class="tech">{{tech}}</span>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div> -->

