.landing-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.section-light {
    background: secondary;
    background: linear-gradient(primary, accent);
    color: primary;
    padding: 2% 10%;
    text-align: justify;
}

.section-dark {
    background: primary;
    color: secondary;
    padding: 2% 10%;
    text-align: justify;
    background: linear-gradient(primary, accent);
}

.ptext {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 300px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    color: accent;
    background: accent;
    padding: 20px;
    font-weight: bolder;
    font-size: xx-large;
    opacity: 1;
}

.ptext .border.trans {
    background: secondary;
    color: primary
}

.heroimg{
    position: relative;
    opacity: 1;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    perspective: 50px;
}
.workimg,
.acadimg, 
.certimg,
.contactimg  {
    position: relative;
    opacity: 0.6;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    perspective: 25px;
}

.heroimg {
    /* background-image: url(https://drive.google.com/uc?export=view&id=1MrKmMhEWG2OYKOdGZwlyZXa4f7R1vFZ0); */
    /* background-image: url(https://drive.google.com/uc?export=view&id=1MpK92Cd-Q7B4uqIFDJJXovAlKQRLvhKj);  */
    background-image: url(https://drive.google.com/uc?export=view&id=1MvYTfaf9S4R7hJAN5pS3D-C20vWqhSQZ);   
    /* background-image: url(https://drive.google.com/uc?export=view&id=1MuNMSKEh06Z-5H9PM8MNd7bIRy_hiWlU);  */
    /* background-image: url(https://drive.google.com/uc?export=view&id=1MuxFQiyR84eeLyp4K00QyLrEPpyVEnuG);  */
    
    min-height: 700px;
}

.workimg {
    background-image: url(https://drive.google.com/uc?export=view&id=1UYxkFKXgWhQufJXCn7jsEWdiMut9VIY_);
    min-height: 700px;
}

.acadimg {
    background-image: url(https://drive.google.com/uc?export=view&id=1cudQxYSRbSbk1rkvyeAgmvCPq8GFY89I);
    min-height: 700px;
}

.certimg {
    background-image: url(https://drive.google.com/uc?export=view&id=1IQ6TaZrxgQ2sLdXDmUvGOEFNTOinOqfE);
    min-height: 700px;
}

.contactimg{
    background-image: url(https://drive.google.com/uc?export=view&id=1E7ZmF-lOTK0KMf_5HzpJQvD_ab_6U8-z);
    min-height: 700px;
}

/* .contact-container{
    height: 50px;
    color: white;
    padding: 10% 30%;
    text-align: left;
} */