<div class="landing-container">
    <!-- <carousel>
        <ng-container *ngFor="let source of data">
            <div class="carousel-cell" >
                <img class="carousel-image" src="{{source.hero_image}}">
            </div>
        </ng-container>
        
    </carousel> -->
    <!-- <img class="carousel-image" src="{{data[0].hero_image}}"> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illum velit error! Tempora itaque porro natus consectetur molestiae unde dolorem accusantium corrupti? Officiis voluptas commodi velit voluptates nemo, dignissimos unde.</p>
</div>
