<mat-toolbar color="primary">
    <!-- <button mat-icon-button mat-button (click)="drawer.toggle()"> -->
    <span class="mobile-off" color=accent>Hey there!</span>

    <span class="navbar-spacer"></span>

    <button class="nav-button" routerLink="/home" mat-flat-button [color]="navColorHome" (mouseover)="navColorHome = 'secondary'" (mouseout)="navColorHome = 'primary'">
     <mat-icon class="nav-icon">home</mat-icon>
     Home
   </button>
    <button class="nav-button" routerLink="/work" mat-flat-button [color]="navColorWork" (mouseover)="navColorWork = 'secondary'" (mouseout)="navColorWork = 'primary'">
     <mat-icon class="nav-icon">work</mat-icon>
     <span>Work</span>
   </button>
    <button class="nav-button" routerLink="/contact" mat-flat-button [color]="navColorConnect" (mouseover)="navColorConnect = 'secondary'" (mouseout)="navColorConnect = 'primary'">
     <mat-icon class="nav-icon">send</mat-icon>
     Connect
   </button>

</mat-toolbar>
<mat-drawer-container class="app-container" autosize>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>